page-finance {
  ion-label>div {
    display: flex;
    p,
    div {
      flex: 1
    }
    div {
      text-align: right;
      margin-right: 20px;
    }
    p {
      .border {
        display: inline-block;
        border: 0.05rem solid #ccc;
        padding: 2px;
      }
    }
  }
}